.blog-header {
  display: flex;
  padding: 175px 150px 75px;
  background-blend-mode: multiply;
  background-image: url("../../images/fake_luxury_2X.png");
  background-color: $primary;

  h1 {
    height: 1em;
    font-size: 3.8em;
  }
}

.posts-container {
  @include container;
  padding: 3em;

  ul {
    list-style: none;
    h3 {
      font-size: 19px;
    }
    li {
      margin-bottom: 0;
      a {
        text-decoration: none;
        color: $text;

        :hover {
          background-color: $accent;
        }
      }
    }
  }
}

.post {
  display: flex;
  padding: 2em;
  border-bottom: solid 1px $text;
  & > div {
    padding: 0 20px 0 20px;
  }
}
