#intro {
  display: flex;
  height: 95vh;
  padding: 125px 20px;
  width: 100%;
  @include lux-bg;

  // @include mq(480) {
  //   height: 700px;
  // }

  .intro-container {
    position: absolute;
    top: 58%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mq(1140) {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }

    @media only screen and (max-width: 900px) and (orientation: landscape) {
      flex-direction: row;
    }

    #intro-text {
      width: 500px;
      margin: 0 30px;
      text-align: center;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;

      @include mq(480) {
        width: 350px;
        margin: 0;
      }

      @include mq(320) {
        width: 325px;
      }

      @media only screen and (max-width: 900px) and (orientation: landscape) {
        width: 390px;
        margin: 0;
      }

      h1 {
        font-size: 4.5em;
        line-height: 90px;
        margin-bottom: 12px;

        @include mq(480) {
          font-size: 3.4em;
          margin-bottom: 0;
        }

        @include mq(320) {
          font-size: 3em;
          line-height: 75px;
        }

        @media only screen and (max-width: 900px) and (orientation: landscape) {
          font-size: 3.3em;
          margin: 0;
        }
      }

      h2 {
        font-size: 2.4em;
        font-weight: normal;
        margin-bottom: 0.6em;

        @include mq(480) {
          font-size: 1.6em;
        }

        @include mq(320) {
          font-size: 1.4em;
        }

        @media only screen and (max-width: 900px) and (orientation: landscape) {
          font-size: 1.4em;
        }
      }
    }

    .intro-avatar {
      width: 13rem;

      @include mq(768) {
        width: 12rem;
      }

      @include mq(480) {
        width: 8rem;
        img {
          margin: 0;
        }
      }

      @media only screen and (max-width: 900px) and (orientation: landscape) {
        width: 8rem;

        img {
          margin: 0;
        }
      }
    }
  }

  .cta-btn {
    margin-top: 1.8rem;
  }

  canvas {
    z-index: 2;
  }
}
