.post-header {
  display: flex;
  flex-direction: column;
  padding: 175px 150px 75px;
  background-blend-mode: multiply;
  background-image: url("../../images/fake_luxury_2X.png");
  background-color: $primary;

  h1 {
    height: 1em;
    font-size: 3.8em;
  }
}

.post-content {
  @include container;
  padding: 3em;
}
