.container {
  max-width: 1150px;
  margin: 0 auto;

  .projects-nav {
    display: flex;
    flex-direction: row;

    .spacer {
      flex: 1;
    }

    .right a {
      text-align: right;

      @include mq(480) {
        display: none;
      }
    }

    .projects-nav-link {
      margin: 20px 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        color: $text;
        transition: 0.5s;

        &:hover {
          color: $highlight;
        }

        svg {
          height: 2em;
          width: 2em;
          margin: 6px;
        }
      }
    }
  }
}

#portfolio-projects {
  padding: 50px 0;

  #project-snapshot {
    display: flex;
    justify-content: center;
    background-blend-mode: multiply;
    background-image: url("../../images/fake_luxury_2X.png");
    background-color: $primary;
    padding: 5rem 4rem;

    .snapshot-container {
      max-width: 1400px;

      img {
        margin: 0;
      }
    }
  }

  @include mq(480) {
    padding-top: 100px;
  }
}
#portfolio-projects .project-image {
  width: 100%;
  height: 450px;
  margin-bottom: 3rem;
}
#portfolio-projects .project-image img {
  // width: 100%;
  height: 450px !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  /* background-attachment: fixed !important; */
}
#portfolio-projects h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  // font-style: italic;
  margin-bottom: 2rem;
}

#portfolio-projects .project-details {
  display: flex;
  margin-bottom: 2rem;
}

#portfolio-projects .project-details .project-info {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  width: 40%;

  .info-col {
    width: 50%;

    ul {
      margin: 0;
      padding: 0;

      & + h5 {
        margin-top: 2rem;
      }

      li {
        list-style: none;
      }
    }
  }
}

#portfolio-projects .project-details a {
  padding: 0;
  margin: 0;
  color: $text;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
#portfolio-projects .project-details .project-info svg {
  height: 1.2em;
  width: 1.2em;
  align-self: center;
  // color: $highlight;
  margin-right: 10px;
}
#portfolio-projects .project-details a:hover {
  color: $highlight;
  text-decoration: underline;
}
#portfolio-projects .project-details a:hover .fas {
  color: white;
}
#portfolio-projects .project-overview {
  width: 60%;
  p {
    display: inline-block;
    border-radius: 3px;
    color: $text;
    font-size: 1rem;
    line-height: 1.7;
    text-decoration: none;
    margin-bottom: 1.8rem;
  }
}

#portfolio-projects .technologies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;

  @include mq(768) {
    width: 100%;
  }
}
#portfolio-projects h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem auto;
  text-transform: uppercase;
}
#portfolio-projects .technologies .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

#portfolio-projects .technologies .icons .icon svg {
  height: 4em;
  width: 4em;
  max-width: 200px;
}

@media only screen and (max-width: 960px) {
  #portfolio-projects h1 {
    font-size: 3rem;
    text-align: center;
  }
  #portfolio-projects p {
    font-size: 1rem;
  }
  #portfolio-projects h3 {
    text-align: center;
  }
}

#blm-message-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin-top: 6rem;
  width: 100%;
  background-color: black;

  .message-container {
    width: 100%;
    display: flex;
    // margin-top: 5em;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .message-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      h1 {
        text-transform: uppercase;
        color: #dfe0d4;
        letter-spacing: 1px;
        -webkit-text-fill-color: black; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $text;
        font-size: 3rem;
        margin: 0 15px;
        -webkit-font-smoothing: auto;
      }

      .msg-btns {
        display: flex;
      }

      .donate-btn {
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        transition: all 300ms ease 0s;
        text-decoration: none;
        width: 150px;
        height: 50px;
        border: solid 2px $text;
        background-color: black;
        color: $text;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 4px;
        margin: 10px 15px;

        &:hover {
          background-color: #fce21a;
          color: black;
          border: none;
        }
      }
    }
  }
}
/* Phones */
@media only screen and (max-width: 767px) {
  #portfolio-projects .info .buttons {
    text-align: center;
  }
  #portfolio-projects .info .buttons a {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1001px) {
  #blm-message-banner {
    .message-container {
      .message-content {
        flex-direction: column;

        h1 {
          font-size: 2.8rem;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  #blm-message-banner {
    .message-container {
      .message-content {
        h1 {
          font-size: 2.2rem;
          text-align: center;
        }

        .donate-btn {
          width: 125px;
        }
      }
    }
  }
}
