// Variables
$primary: #353940;
$accent: #3e92a3;
$highlight: #ff5335;
$text: #dfe0d4;

// Mixins
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin headroom-trans {
  transition: all 0.6s ease;
}
